.Heading-primary,
.Heading-secondary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Heading-primary h1 {
  color: #4a4a4a;
  font-size: 2.5rem;
  line-height: 0.5;
}

.Heading-primary p {
  color: #4a4a4a;
  font-size: 1.5rem;
  line-height: 1;
}

.Heading-secondary h1 {
  color: #fff;
  font-size: 2.5rem;
  line-height: 1;
}

.Heading-secondary p {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1;
}

@media only screen and (max-width: 768px) {
  .Heading-primary h1,
  .Heading-secondary h1 {
    font-size: 1.5rem;
  }

  .Heading-primary p,
  .Heading-secondary p {
    font-size: 1rem;
  }
}
