.container-slider {
  width: 65%;
  height: 250px;
  margin: 2rem auto 0;
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide p {
  line-height: 1.8;
  color: #888585de;
  font-size: 1.2rem;
  text-align: center;
  width: 70%;
  margin-bottom: 2rem;
}

.active-anim {
  opacity: 1;
}

.btn-slide {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: transparent;
  border: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.prev {
  top: 40%;
  left: 65px;
  transform: translateY(-60%);
  opacity: 0.2;
  transition: all 0.3s;
}

.prev:hover {
  opacity: 1;
}

.next {
  top: 40%;
  right: 65px;
  transform: translateY(-60%);
  opacity: 0.2;
  transition: all 0.3s;
}

.next:hover {
  opacity: 1;
}

.slider-info {
  display: flex;
  align-items: center;
}

.slider-info img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  pointer-events: none;
  margin-right: 1.5rem;
}

.slider-info h4 {
  line-height: 0;
  font-size: 1.2rem;
  color: #4a4a4a;
}

.slider-info h6 {
  line-height: 0;
  color: #888585de;
  font-weight: 400;
  font-size: 0.9rem;
}